*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: linear-gradient(rgb(116, 113, 113),rgb(100, 100, 100), rgb(88, 87, 87),rgb(77, 75, 75),rgb(61, 61, 61),rgb(44, 43, 43),rgb(32, 32, 32),rgb(20, 20, 20),rgb(13, 14, 13),rgb(7, 7, 7),rgb(8, 8, 8),black,black,black,black,black,black);
    overflow: hidden;
}
.image{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image-wrap img{
    height: 150px;
    width: 200px;
    margin: 110px auto;
    padding-top: 10px;
    padding-bottom: -50px;
    padding-right: 20px;
    background: white;
}
.container{
    display: flex;
    justify-content: center;
    background: rgb(253, 249, 249);
    color:#333;
    margin: 83px auto;
    padding: 25px 10px;
    max-width: 500px;
    max-height: 500px;
}
.form-wrap{
    background: rgb(214, 209, 209);
    padding: 30px;
    border-radius: 5px;
    max-width: 300px;
}
.form-wrap h1{
    text-align: center;
    font-size: 30px;
    color: #333;
}
input,select{
    padding: 1px;
    border-radius: 3px;
    border: none;
    width: 100%;
}
.btn{
    width: 100%;
    border: none;
    border-radius: 4px;
    background: #333;
    color: white;
    padding: 2.5px;
}
.btn:hover{
    cursor: pointer;
    background:black;
}
